<div id="table" class="note-table">
	<div class="expand-full-screen"><%= link_to(image_tag("fullscreen-close.png", size: "25x25"), project_path({id: @project, pretty: true})) %></div>			
	<%= render partial: "notes/draggable_postit", collection: @notes %>
</div>