<% if postit_counter % per_line == 0 %>
	</tr><tr>	
<% end %>
<td>
 	<div class="rotate-3">
		<div  class="postit" >
			<b><%= postit.title %></b><br/><%= postit.content %>
			<div class="edit-icon"><%= link_to image_tag('magnify.png', size: "25x25"), note_path(postit), title: "Click to inspect" %></div> 
			<i class="pin"></i>
			<div class="price-tagged"><ul class="price-tag"><li><a class="price-tag-link">Tagged</a></li></ul></div>
		</div>
	</div>				  	
</td>
