<% txt = "All Notes" %>
<% if  search_str!="" 
  txt = "Notes search: #{search_type}: '#{search_str}'"
end %>

<div id="note_header" class="all-notes"><%= txt %></div>
<div class="notes">
	<table id="postit-list" class="notes">
		<tr>
			<%= render partial: "notes/postit", collection: notes %>
		</tr>
	</table>
</div>


<script type="text/x-handlebars">
  {{ view App.ListPostitsView }}
</script>

<script type="text/javascript">
  $(function() {
    App.notesController.loadAll(<%= @notes.to_json.html_safe %>);
  });
</script>
