<h1>Notes</h1>

postits
<script type="text/x-handlebars">
  {{ view App.ListPostitsView }}
</script>

<script type="text/javascript">
  $(function() {
    App.notesController.loadAll(<%= @notes.to_json.html_safe %>);
  });
</script>
