// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 
.postit {    
  text-align:     center;     
  width:          275px;    
  margin:         10px;    
  min-height:     200px;
  max-height:     200px;
  padding-top:    35px;
  position:       relative;   
  border:         2px solid #E8E8E8;  
  border-top:     20px solid #fdfd86;
  font-family:    'Reenie Beanie';    
  font-size:      22px;      
  border-bottom-right-radius: 60px 5px;
  display:        inline-block;    
  background:     rgb(255,255,136); /* Old browsers */
  background:     -moz-linear-gradient(-45deg, rgba(255,255,136,1) 77%, rgba(255,255,214,1) 100%); /* FF3.6+ */
  background:     -webkit-gradient(linear, left top, right bottom, color-stop(77%,rgba(255,255,136,1)), color-stop(100%,rgba(255,255,214,1))); /* Chrome,Safari4+ */
  background:     -webkit-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* Chrome10+,Safari5.1+ */
  background:     -o-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* Opera 11.10+ */
  background:     -ms-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* IE10+ */
  background:     linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* W3C */
  filter:         progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff88',GradientType=0 ); /* IE6-9 fallback on horizontal gradient */
  
  &:after {     
    content:  "";
    position: absolute;
    z-index:  -1;
    right:  -0px;   
    bottom: 20px;
    width:  200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);

    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);          
  }
}  


.pin {
  background-color: #aaa;
  background-image: linear-gradient(left, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
  display: block;
  height: 2em;
  margin: -1em -.05em;
  position: absolute;
  bottom: 80px;
  left: 10px;
  width: .1em;
  z-index: 0;
}
.pin:after {
  background-color: skyBlue;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.2), hsla(0,0%,0%,.2));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset .2em .2em .2em hsla(0,0%,100%,.2),
              inset -.2em -.2em .2em hsla(0,0%,0%,.2),
              1.5em 1.25em .25em hsla(0,0%,0%,.15);
  content: '';
  height: .8em;
  left: -.35em;
  position: absolute;
  top: -.65em;
  width: .8em;
}
.pin:before {
  background-color: hsla(0,0%,0%,.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';
  height: 1.5em;
  left: 0;
  position: absolute;
  top: .5em;
  transform: rotate(57.5deg);
  transform-origin: 50% 100%;
  width: .1em;
}

.edit-icon {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.delete-icon {
  position: absolute;
  right: 0px;
  top: -25px;
}

.tagged-icon {
  position: absolute;
  left: 0px;
  font-family: arial;
  font-size: $small-font-size;
  bottom: 0px;
  
  table {
    margin: 0px;
    
    td {
      padding: 0px;
      vertical-align: middle; 
    }
  }
}

.draggable {
  cursor: move;
  position: absolute;
}

div.square {
    text-align:center;     
    width: 275px;    
    //margin: 25px;    
    min-height:200px;
    max-height:200px;
    padding-top:35px;
    position:relative;   
    border:1px solid #E8E8E8;  
    border-top:20px solid #fdfd86;
    font-family:'Reenie Beanie';    
    font-size:22px;      
    border-bottom-right-radius: 60px 5px;
    display:inline-block;    
    background: rgb(255,255,136); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255,255,136,1) 77%, rgba(255,255,214,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(77%,rgba(255,255,136,1)), color-stop(100%,rgba(255,255,214,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* IE10+ */
    background: linear-gradient(-45deg, rgba(255,255,136,1) 77%,rgba(255,255,214,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffff88',GradientType=0 ); /* IE6-9 fallback on horizontal gradient */
   
  &:after {     
    content: "";
    position:absolute;
    z-index:-1;
    right:-0px; bottom:20px;
    width:200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);

    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);          
  }
}

.full-table {
  background: teal;
  position: relative;
  border: 5px solid brown;
  height: 780px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
  //resize: both;
  //overflow: auto;
  //z-index: 0; 
}
.note-table {
  background: lightgreen;
  position: relative;
  //bottom: 0px;
  border: 2px solid brown;
  //height: 710px;
  //width: 100%;
  
  //resize: both;
  //overflow: auto;
  //z-index: 0; 
}

.divide-table {
  background: lightblue;
  position: relative;
  border: 2px solid blue;
  //height: 700px;
  //width: 100%;
  //display: none;
  //z-index: 0; 
}

.source-table {
  position: relative;
  border: 2px solid red;
  background: red;
}

.target-table {
  position: relative;
  border: 2px solid green;
  background: green;
}

.ui-draggable-helper {
  border: 1px dotted #000;
  opacity: 50%;
}

div.slide-open {
  width: 15px;
  height: 30px;
  position: absolute;
  right: 0px;
  top: 350px;
  cursor: pointer;
  @include stripes($background: black);  
}

div.divide {
  //background: lightgray;
  //position: absolute;
  //left: 0px;
  //top: 0px;
    position: absolute;

}
div.search {
  position: absolute;
}
div.category-name {
  position: absolute;
  //right: 300px;
  font-size: $huge-font-size;
  color: white;  
}

div.not-category {
  position: absolute;
  //right: 300px;
  font-size: $huge-font-size;
  color: white;  
}

div.all-notes  {
  position: absolute;
  //right: 300px;
  font-size: $huge-font-size;
  color: white;  
  
  a {
    color: blue;
    &:hover {
      text-decoration: underline;
      background: yellow;
    }
  }
}
// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#wrapper {
    width:$tab-width;
}

div.html {
  background: lightyellow;
  width: $full-width;
  //height: $message-box-height;
  padding: 5px 5px 5px 5px;
  border: 3px solid yellow;
  overflow: auto;
}

div.new-note {
  position: absolute;
  font-size: $medium-font-size;
  color: yellow;
}

div.notes-small {
  border: 2px solid gray;
  background: teal;
  overflow: auto;
  max-height: 600px;
}