// Place all the styles related to the project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.list {
  margin-top: 1em;

  tr {
    height: 40px;
    
    td.url {
      border-top: 1px solid #ccc;
      vertical-align: top;
      padding-top: 10px;
      background: none;
    
      span.timestamp {
        display: block;
        font-size: 85%;
        color: #666;
      }
    }
  }
}
div.expand-full-screen {
  float: right;
  //position: absolute;
  z-index: 20;
}



.centered {
  margin-left: auto;
  margin-right: auto;
}
.heading {
  font-size: $super-font-size;
  color: blue;
  text-align: center;
  
}
a.project-link {
  font-size: $large-font-size;
  color: yellow;
}

div.table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

