<div class="menu-nav">
<nav class="round">
  <ul>
    <li class="menu"><%= link_to "Projects", projects_path %></li>
    <li class="menu"><%= link_to "Tags", tags_path %></li>
  </ul>

</nav>
</div>


