<noscript>
  <div class="javascript_disabled_notification">
    <div class="inner">
      <h1>You need to change a setting in your web browser</h1>
<p> URL Poke  requires you to turn <strong>JavaScript</strong> on. All modern browsers support JavaScript. To sort this out, you will just need to change a setting in your browser preferences/settings.</p>
<p>Check out some useful info here: <a href="http://www.google.com/support/bin/answer.py?answer=23852">How to enable JavaScript in your browser</a>.</p>
<p>It could be you use ad-blocking software, and that may require you to allow JavaScript from the domain "urlpoke.com"</p>
<p>Once you've corrected this,  <a href="">reload this page</a>.</p>
<p>Thanks!</p>

    </div>
  </div>
</noscript>
  
<noscript>
	<style type="text/css">#Header, #Wrapper, div.container { display: none }</style>
</noscript>
